@model MusicStore.ViewModels.HomeViewModel


<h2>Previous Viewed Albums</h2>
@if (Model.ViewedAlbums.Count() > 0)
{
<ul>
    @foreach (var album in Model.ViewedAlbums)
    {
<li>
    <a href="@Url.Action("Details", "Store", new { id=album.AlbumId})">
        <img alt="@album.Title" src="@album.AlbumArtUrl" />
        <span>@album.Title (@album.OrderDetails.Count)</span>
    </a>
</li>}
</ul> }
            else
            {
<p>No Viewed Albums Exist</p>}



<h2>Top Sellers</h2>
<ul>
    @foreach (var album in Model.TopSellingAlbums)
    {
<li>
    <a href="@Url.Action("Details", "Store", new { id=album.AlbumId})">
        <img alt="@album.Title" src="@album.AlbumArtUrl" />
        <span>@album.Title (@album.OrderDetails.Count)</span>
    </a>
</li>}
</ul>
